.signInContainer {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }

    .buttonsContainer {
        display: flex;
        justify-content: space-between;
    }
}

